.footer--bg-color {
    background-color: #3b404c;
    /*height: 100vh;*/
}

.footer__top-line {
    display: flex;
    align-items: center;
    margin-top: 7vh;
}

.top-line__title {
    font-family: Lora;
    font-size: 33px;
    font-weight: 700;
    color: #ffffff;
}

.top-line__navigation {
    text-align: right;
}

.navigation__footer-link {
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    margin: 0 15px;
}

.navigation__footer-link:nth-child(5) {
    margin-right: 0;
}

.footer__content {
    display: flex;
    /*justify-content: space-between;*/
    margin-top: 100px;
    /*flex-wrap: wrap;*/
}

.content__left-block {
    display: flex;
    flex-direction: column;
    /*flex-basis: content;*/
    /*min-width: 310px;*/
    /*margin-right: 50px;*/
    flex-basis: 600px;
    margin-right: 100px;
}


/*.left-block__our-address,*/
/*.left-block__call-us,*/
/*.left-block__email {*/
/*flex-basis: content;*/
/*}*/

.left-block__title {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 25px;
}

.left-block__title:first-child {
    /*margin-top: 0;*/
}

.left-block__text {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    color: #999999;
    display: block;
    margin-top: 28px;
}

.content__name-input {
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 400;
    color: #ffffff;
    display: block;
    margin-bottom: 28px;
}

.content__right-block {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    flex-basis: content;
}

.right-block_top {
    margin-right: 0;
    display: flex;
}

.right-block__bottom {
    margin-top: 65px;
}

.content__input-bottom,
.content__input-top {
    min-width: 230px;
    max-width: 770px;
    font-size: 27px;
    background-color: #3b404c;
    border: none;
    border-bottom: 2px solid #999999;
    padding-left: 20px;
    padding-bottom: 10px;
    /*margin-right: 10%;*/
}

.content__input-bottom:focus,
.content__input-top:focus {
    outline: none;
    color: #ffffff;
    border-bottom: 2px solid #00a5ff;
}

.right-block__first {
    margin-right: 50px;
}

.footer__button--geometry {
    width: 280px;
    height: 63px;
    border-radius: 32px;
    margin-top: 50px;
    margin-bottom: 75px;
}


.footer__social {
    background-color: #ffffff;
    height: 90px;
}

.footer__wrapper-social {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    padding-top: 29px;
    /*height: 100vh;*/
}


.footer__wrapper-img {
    /*display: inline-flex;*/
    text-align: right;
    /*align-self: stretch;*/
}

.footer__img {
    width: 30px;
    margin-right: 12px;
    text-align: right;
    /*display: inline-block;*/
    flex-basis: content;
}

.footer__img:nth-child(4) {
    margin: 0;
}

.footer__copi-right {
    color: #999999;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
}