.main__wrapper--bg-color {
    background-color: #e6e7e9;
}

.main__wrapper--content-width {
    height: min-content;
}

.main__wrapper-title--position {
    margin-top: 10vh;
    padding-top: 5vh;
}

.title__line-portfolio--position {
    margin-top: 2vh;
    margin-bottom: 4vh;
}

.category {
    text-align: center;
}

.category__link {
    color: #999999;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.category__link:hover {
    color: #00a5ff;
    padding-bottom: 5px;
    border-bottom: solid 2px;
    border-color: #63b7e6;
}

.category__link:nth-child(3) {
    margin: 0 50px;
}

.category__link:nth-child(2) {
    margin-left: 50px;
}

.category__link:nth-child(4) {
    margin-right: 50px;
}

.main__info-category {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.info-category__info {
    display: inline-block;
    width: 380px;
    height: 350px;
    margin-bottom: 15px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.info-category__description {
    color: #999999;
    font-family: "Open Sans - Semibold";
    font-size: 18px;
    font-weight: 400;
    margin: 29px auto auto  32px;
}

.main__button--geometry {
    width: 288px;
    height: 72px;
    border-radius: 32px;
    margin-top: 8vh;
    margin-bottom: 10vh;
}